/* datetime-custom.css */
.rd-container {
  background-color: #0f172a;
  color: #fff;
  border-radius: 5px;
}

.rd-container input {
  background-color: #0f172a;
  color: #fff;
  
 text-align: center;
}

.rd-container .rdtPicker {
  background-color: #0f172a;
  color: #fff;
  align-items: center;
}

.rd-container .rdtPicker .rdtTimeToggle {
  color: #fff;
}

.rd-container .rdtPicker .dow,
.rd-container .rdtPicker .rdtDay,
.rd-container .rdtPicker .rdtMonth,
.rd-container .rdtPicker .rdtYear {
  color: #fff;
}

.rd-container .rdtPicker .rdtActive {
  background-color: #0f172a;
  color: #fff;
}
